body {
  background-color: #E8E8E8;
  font-family     : $font-open;
  font-size       : 20px;
}

.container-content {
  max-width       : 1700px !important;
  margin          : 0 auto;
  background-color: white;
}