.u-white {
  color: $white;
}

.u-center {
  text-align: center;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-img-bn {
  filter: grayscale(100%);
  opacity: 0.5;
}

.hidden-mob {
  @include media-breakpoint-down (md) {
    display: none;
  }
}