.box--title {}

.box--number {
  font-family: $font-source;
  font-weight: 600;
  font-size  : 68px;
  @include media-breakpoint-down(md) {
    font-size: 55px;
  }
}

.box--number__big {
  font-size  : 98px;
  line-height: 1em;
  color      : white;
}

.box--number__date {
  font-family: $font-source;
  font-weight: 400;
  font-size  : 20px;

  img {
    position: relative;
    top     : -10px;
  }
}

.box--title {
  font-size     : 14px;
  letter-spacing: 0.06em;
}

.aaa {
  height: 200px;
}