/*Colores*/
$gray          : #515254;
$white         : #fff;
$black         : #000;
/* Fuentes */
$font-open     : 'Open Sans Condensed', sans-serif;
$font-source   : 'Source Sans Pro', sans-serif;
/* Line height */
$line-height   : 1.5;
$line-height-xs: 1;